package __package__.service;

import com.baomidou.mybatisplus.core.metadata.IPage;
import org.out.work.jfr.service.IBaseService;
import __package__.entity.__class_name__;
import __package__.vo.__class_name__Vo;
import __package__.ro.__class_name__Ro;


/**
 * {@code @author:} 		__author__
 * {@code @description:} 	__table_comment__ 服务类接口
 * {@code @date:} 			__create_time__
 * {@code @version:}: 		__version__
 */
public interface I__class_name__Service extends IBaseService<__class_name__> {


}
