<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author __author__-->
<!--@since __create_time__-->
<!--@desc __table_comment__-->
<mapper namespace="__package__.mapper.__class_name__Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="__class_var_name__ResultMap" type="__package__.entity.__class_name__">
        <id column="id" property="id"/>
        <foreach-column>
        <!-- __column_comment__-->
        <result column="__column_name__" property="__property_name__"/>
        </foreach-column>
    </resultMap>


</mapper>
